<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  A Contact or Impressum page is mandatory in Germany, especially 
  on Websites with a commercial purpose, at least, that is, 
  what I have been told.
  But so far, I am not including my personal contact details,
  since I am not using this Web app for commercial or even
  personal purposes, but I have a version of this app online,
  <a href="http://socialblogs.heroku.com">at heroku</a> which I am currently
  updating often, which anybody can make a blog on, or send me microblog posts.</p>
<p>
  Contact Ruby on Rails Tutorial about the sample app at the
  <a href="http://railstutorial.org/contact">contact page</a>.
</p>
