<% provide(:title, 'Help') %>
<div class="hero-unit">
<h1>Help</h1>
<p>
  I am learning the Ruby on Rails Web development framework since about 6 weeks.
  This is my second pass through this Tutorial by Michael Hartl, which is accessible
  through the links below. In my first pass through the orginal version, I developed 
  an addotional "Blog" feature on top of the origial sample application, while leaving
  the micropost feature intact. I am using this simple blog to talk about my Rails 
  experiences and learning insights, and also about other topics. It is accessible here:
  <a href="http://socialblogs.heroku.com">a blog expansion on top of the original Sample App, which is still using rails 3.0.11</a></p>
  <p>
  Get help on the Ruby on Rails Tutorial at the
  <a href="http://railstutorial.org/help">Rails Tutorial help page</a>.
  To get help on this sample app, see the
  <a href="http://railstutorial.org/book">Rails Tutorial book</a>.
</p>
</div>
