<h1>Sample App</h1>
<p>
  This is the home page for the
  <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
  sample application.
  
  This sample app will be used for future expansions, which could be 
  a blog application, different microblogging applications, a forum,
  or video sharing site, or other expansions, that all will expand the
  basic "user log on/sign up" feature, which is the core of this sample app.
</p>

